html{
    font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif;
}

.navbar{
    background: rgb(151, 183, 196);
    text-align: left;
    
}
.menu{
    display: flex
    justify-content: flex-end;
}
.menu__item {
    padding: 20px;
     color:white;
     display: inline-block;
     width: auto;
     text-align: right;